.modal {
  display: block;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: background-appear;
  animation-duration: 0.5s;
}

@keyframes background-appear {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.modal-box {
  border: 1px solid #888;
  border-radius: 25px;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
  max-width: 700px;
  animation-name: modal-drop;
  animation-duration: 0.5s;
}

@keyframes modal-drop {
  0% {
    margin: -1% auto;
  }

  100% {
    margin: 15% auto;
  }
}

@media (max-width: 767px) {
  .modal-box {
    width: 80%
  }
}

.blue-title {
  color: #4480bc;
  border-bottom: 1px solid #4480bc;
}

.purple-title {
  color: #8553b8;
  border-bottom: 1px solid #8553b8;
}

#btn-exit-modal {
  border-color: #DC3545;
  height: 25px;
  width: 25px;
  margin: 0 1rem 0 auto;
  color: #DC3545;
}

#btn-exit-modal:active {
  background-color: #DC3545;
  color: white;
  border: 2px solid black;
}

.btn-theme-picker {
  width: 50px;
  height: 50px;
}

.btn-purple {
  background-color: #B195D2 !important;
}

#btn-blue-theme, #btn-purple-theme {
  border-color: white;
}

#btn-blue-theme:active, #btn-purple-theme:active {
  border: 5px solid black;
}

.btn-blue {
  background-color: #A7C7E7 !important;
}

.shake-modal {
  animation-name: shake-modal;
  animation-duration: 0.1s;
}

@keyframes shake-modal {
  33% {
    margin-left: 50px;
    margin-right: auto;
  }

  66% {
    margin-left: auto;
    margin-right: 50px;
  }
}

.warning-text {
  color: #DC3545;
  font-size: 20px;
}

.crossed-task {
  text-decoration: line-through;
}

.blue-body {
  background-color: #C3EEFA;
}

.purple-body {
  background-color: #E9CFFE;
}