.aside-true, .aside-false {
  min-height: 1vh;
  transition-delay: 0.5s
}

.aside-true {
  border-radius: 0 0 10px 0;
  transition-delay: 0s;
}

.aside-false {
  border-radius: 0 0 10px 10px;
  transition-delay: 0.25s;
}

#btn-navbar {
  border-color: #6f6f6f;
  width: 50px;
  height: 50px;
  color: #6f6f6f;
}

#btn-navbar:active{
  border: 5px solid black;
  background: #6f6f6f;
  color: white;
}

.icon-navbar {
  font-size: 25px;
}

.blue-font {
  color: #87bdf3;
  transition: 1s;
}

.purple-font {
  background-color: #B195D2;
  transition: 1s;
}
