.slide-down {
  height: 99vh;
  animation-name: slide-down;
  animation-duration: 0.25s;
  display: flex;
}

.slide-up {
  animation-name: slide-up;
  animation-duration: 0.25s;
  display: none;
}

.btn-sb-appear {
  animation-name: appear;
  animation-duration: 0.8s;
}

aside .blue-primary, aside .purple-primary {
  height: 100%;;
  border-radius: 0px 0px 10px 0;
  width: 80px;
}

@keyframes slide-down {
  from {
    height: 0px;
  }
}

@keyframes slide-up {
  from {
    height: 86vh;
    display: flex;
  }
  to {
    height: 0px;
  }
}

@keyframes appear {
  0% {
    display: none;
  }
  50% {
    display: none;
  }
  100% {
    display: inherit;
  }
}

.sidebar .col-12, .sidebar .col-xl-12 {
  transition-delay: 10s;
}

.bottom-buttons {
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  position: fixed;
  bottom: 10px;
}

#btn-settings {
  border-color: #6f6f6f;
  width: 50px;
  height: 50px;
  color: #6f6f6f;
}

#btn-settings:active {
  border: 5px solid black;
  background: #6f6f6f;
  color: white;
}

.icon-settings {
  font-size: 25px;
}

#btn-addPatient {
  border-color: #198754;
  width: 50px;
  height: 50px;
  color: #198754;
}

#btn-addPatient:active {
  border: 5px solid black;
  background: #198754;
  color: white;
}

.icon-addPatient {
  font-size: 25px;
}