aside {
  overflow-y: clip;
  overflow-x: hidden;
  z-index: 1;
}

.slide-down, .slide-up {
  border-radius: 0px 0px 10px 0;
}

.slide-down {
  overflow-y: clip;
  animation-name: slide-down;
  animation-duration: 0.5s;
  display: flex;
}

.slide-up {
  animation-name: slide-up;
  animation-duration: 0.5s;
  display: none;
}

@keyframes slide-down {
  from {
    height: 0px;
  }
  to {
    height: 120vh;
  }
}

@keyframes slide-up {
  from {
    height: 120vh;
    display: flex;
  }
  to {
    height: 0px;
  }
}

.sidebar .col-12, .sidebar .col-xl-12 {
  transition-delay: 0.5s;
}

.btn-sb-home {
  margin-bottom: 12px;
}

.default-buttons {
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  position: sticky;
  bottom: 0px;
}

#btn-settings {
  border-color: #6f6f6f;
  width: 50px;
  height: 50px;
  color: #6f6f6f;
}

#btn-settings:active {
  border: 5px solid black;
  background: #6f6f6f;
  color: white;
}

.icon-settings {
  font-size: 25px;
}

.btn-home {
  font-size: 25px;
}

#btn-addPatient {
  border-color: #198754;
  width: 50px;
  height: 50px;
  color: #198754;
}

#btn-addPatient:active {
  border: 5px solid black;
  background: #198754;
  color: white;
}

.icon-addPatient {
  font-size: 25px;
}