.btn-holder {
  background-color: white;
  width: 100%;
  height: 60px;
  border-radius: 100px 0 0 100px;
  animation-name: slide-left;
  animation-duration: 0.5s;
}

.btn-holder, .btn-sb {
  margin-bottom: 68px;
}

.btn-holder:first-child, .btn-sb:first-child {
  margin-bottom: 12px;
}

.blue-top, .purple-top, .blue-bottom, .purple-bottom {
  width: 100%;
  height: 5px;
}

@keyframes slide-left {
  from {
    margin-right: -5%;
    margin-left: 5%;
  }
}

.blue-top, .blue-bottom {
  background-color: #87bdf3 ;
}

.purple-top, .purple-bottom {
  background-color: #B195D2;
}

.blue-top, .purple-top {
  border-radius: 0 0 10px 10px;
}

.blue-bottom, .purple-bottom {
  border-radius: 10px 10px 0 0;
}

/*Buttons and buttons transition*/
.btn-pt, .btn-pt-blue, .btn-pt-purple {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: inherit;
  text-decoration: none;
}

.btn-pt {
  background-color: white !important;
  margin: 0 auto;
}

.btn-pt-blue, .btn-pt-purple {
  border: 2px solid black !important;
  color: white !important;
  margin-left: 2px;
}

.btn-pt-blue {
  background-color: #87bdf3 !important;
}

.btn-pt-purple {
  background-color: #B195D2 !important;
}
