#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.container-fluid {
  max-width: 1200px;
}

.purple-body {
  background-color: #E9CFFE;
  transition: 0.5s;
}

.blue-body {
  background-color: #C3EEFA;
  transition: 0.5s;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, 
button:hover {
  opacity: 0.6;
}

.btn-circular {
  background-color: transparent;
  border: 2px solid;
  border-radius: 100px;
  transition: 3s;
}

.btn-circular:active {
  color: white;
  border: 5px solid black;
  transition: 0.1s;
}