.purple-layout {
  background-color: #B195D2;
  transition: 1s;
}

.blue-layout {
  background-color: #A7C7E7;
  transition: 1s;
}

.btn-circular {
  background-color: transparent;
  border: 2px solid;
  border-radius: 100px;
  color: inherit;
  transition: 0.5s;
}

.btn-circular:active {
  border: 5px solid black;
  transition: 0.1s;
}
